* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main {
  background: #e5e5e5;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background: #2d4a22;
  height: 12rem;
}

header {
  margin-top: 2.25rem;
}

header > h2 {
  color: white;
}

.main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -3.75rem;
}

.main-box > .title {
  width: 67%;
  text-align: start;
  margin-bottom: 0.25rem;
  color: white;
}

.box {
  background: #ffffff;
  width: 60%;
  border-radius: 4px;
  padding: 2.25rem;
  margin-bottom: 15px;
}

.box > h4 {
  margin-bottom: 1.25rem;
}

.box > span {
  font-weight: bold;
  font-size: 1.55rem;
}
.box.total {
  background: #49aa26;
  color: white;
  font-weight: bold;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table > table {
  width: 64%;
}

th {
  text-align: start;
  padding: 1rem;
  background: #ffffff;
  color: #969cb2;
}

th:first-child {
  border-radius: 10px 0 0 10px;
}
th:last-child {
  border-radius: 0 10px 10px 0;
}

td {
  text-align: start;
  padding: 1rem;
  background: #ffffff;
  color: #969cb2;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child {
  border-radius: 0 10px 10px 0;
}

.whitdraw {
  color: #e92929;
}

.deposit {
  color: #49aa26;
}

.description {
  color: #363f5f;
}
